@{
    ViewBag.Title = "About";
}
<h2>Тестовое задание TaxiApp на ASP.NET MVC</h2>
<p>При разработке данного приложения была использована Microsoft Visual Studio 2017. Ну очень полезное приложение от Microsoft )</p>

