@{
    ViewBag.Title = "Удаление автомобиля/водителя";
}
<h2>Вы точно уверены ??</h2>
<form method="post" action="/Home/DeleteDriver/">
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <div>
        Удалить @ViewBag.Message ?
    </div>
    <br/>
    <input type="submit" name="del" value="Удалить!" class="btn btn-default" />
    <input type="button" name="no" value="Нет" onclick="history.back()" class="btn btn-default" />
</form>


