@{
    ViewBag.Title = "Home TaxiApp - Заказать такси онлайн";
}

<div class="jumbotron">
    <h1>TaxiApp на ASP.NET MVC</h1>
    <div>
        <img src="~/Images/taxi-car.png" alt="" />
    </div>
    <p class="lead">К вашим услугам новейший сервис заказа Такси! Самые комфортные цены в городе! <br/>
    Предлагаем вам только иномарки с кондиционером!</p>
    <p><a class="btn btn-default" href="/home/NewOrder/">Заказать &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Заказать такси</h2>
        <p>
            Хотите заказать автомобиль ? У нас свежие иномарки с кондиционером!
        </p>
        <p><a class="btn btn-default" href="/home/NewOrder/">Заказать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Посмотреть машины</h2>
        <p>Свободные машины ждут вас, возможно они совсем рядом!</p>
        <p><a class="btn btn-default" href="/home/driverFree/">Посмотреть &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сотрудничество с водителями</h2>
        <p>Мы предлагаем свободный график и хороший процент для водителей с личным транспортом.</p>
        <p><a class="btn btn-default" href="/home/join/">Хочу &raquo;</a></p>
    </div>
</div>