@{
    ViewBag.Title = "Сотрудничество";
}
<h2>Сотрудничество с водителями</h2>

<div>
    Здравствуйте, уважаемый водитель! Вы можете прислать нам заявку на сотрудничество с нами и мы подключим вас к своей системе!
    Если ваш автомобиль не старше 3 лет и имеет кондиционер, пожалуйста напишите нам свою заявку на электронную почту <a href="mailto:KaprovOleg@mail.ru">KaprovOleg@mail.ru</a> или заполните <a href="/home/CreateDriver/">электронную форму</a>.
</div>

